<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.tubs.de/isf/guido/dsl/Dsl"
			class = "de.tubs.isf.guido.dsl.dsl.DslPackage"
			genModel = "model/generated/Dsl.genmodel" />
	</extension>
</plugin>
